<h1>School Project</h1>
<br>
<br>
<br>
<a href = "book/index">
    <div id="to_book">
        <p>책 대여 서비스</p>
    </div>
</a>
<a href = "locker/index">
    <div id="to_locker">
        <p>사물함 대여 서비스</p>
    </div>
</a>
