//타이머 커스터마이징
.numbers {
        border-style: ridge;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
        border-width: 2px;
        border-color: #666666;  /* change the border color using the hexadecimal color codes for HTML */
        background: #222222;    /* change the background color using the hexadecimal color codes for HTML */
        padding: 2px 0px;
        width: 55px;
        text-align: center; 
        font-family: Arial; 
        font-size: 28px;
        font-weight: bold;    /* options are normal, bold, bolder, lighter */
        font-style: normal;   /* options are normal or italic */
        color: #FFFFFF;       /* change color using the hexadecimal color codes for HTML */
    }
    .title {    /* the styles below will affect the title under the numbers, i.e., “Days”, “Hours”, etc. */
        border: none;    
        padding: 0px;
        width: 55px;
        text-align: center; 
        font-family: Arial; 
        font-size: 10px; 
        font-weight: normal;  /* options are normal, bold, bolder, lighter */
        color: #DDDDDD;       /* change color using the hexadecimal color codes for HTML */
        background: transparent;    /* change the background color using the hexadecimal color codes for HTML */
    }
    #table {
        width: 400px;
        border: none;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
        margin: 0px auto;
        position: relative;    /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
        top: 0px;        /* change to position the timer */
        left: 0px;       /* change to position the timer; delete this property and it's value to keep timer centered on page */
    }

//applicaition.html.erb 커스터마이징
#nav {
    height: 50px;    
}
section {
    margin-top: 50px;  
    height: 100%;
}
body {
    background-color: #f5f6f7;   
}
.text-center {
    text-align: center;    
}
.hoverable:hover {
    transition: box-shadow 0.7s;
    background-color: #cfe8ff;
}
.blue-1 {
    color: #00529c;
}

tr > td:nth-child(1) {
    background-color: #cbe0f7;   
    width: 120px;
}
tr > td:nth-child(2) {
    background-color: #e3efff;   
}

#lnum {
    color: red;    
}
.silver {
    color: silver;    
}

.locker-button {
	font-size: 15px;
	border: 0;
	padding: 15px;
	width: 150px;
	border-radius: 3px;
	cursor: pointer;
	background: rgb(3, 169, 245);
	color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

footer {
    
	position: absolute;
	bottom: 0;
	
    width: 100%;
    height: 80px;
    padding: 5px;
    background-color: #ffffff;
    
    img { 
        height: 70px;
    }
}