<!DOCTYPE html>
<html>
<head>
  <title>사물함 신청</title>
   <!-- Compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../assets/devise.scss">
  <link rel="stylesheet" type="text/css" href="../../assets/materialize.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="../../assets/materialize.js"></script>
  <script src="../../assets/sticker.js"></script>
  <script src="../../assets/devise.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="hoverable">
  국제학부 온라인 사물함 예약서비스
  </header>
<%= yield %>

</body>
</html>
